@keyframes peekClose {
	from {
		height: calc(var(--collapsible-height) + 80px);
		max-height: none;
	}
	to {
		height: min(var(--peek-height, 120px), var(--collapsible-height));
		max-height: var(--peek-height, 120px);
	}
}

@keyframes peekOpen {
	from {
		height: min(var(--peek-height, 120px), var(--collapsible-height));
	}
	to {
		height: calc(var(--collapsible-height) + 80px);
	}
}

.root {
	position: relative;
	overflow: clip;

	&[data-state='closed'] {
		max-height: var(--peek-height, 120px);
	}

	&[data-has-interacted='true'] {
		animation-timing-function: var(--m-easing);
		animation-fill-mode: forwards;

		&[data-state='closed'] {
			animation-name: peekClose;
			animation-duration: var(--m-duration);
		}
		&[data-state='open'] {
			animation-name: peekOpen;
			animation-duration: var(--m-duration-long);
		}
	}
}

.trigger {
	position: absolute;
	bottom: 0;
	z-index: 1;
	height: 80px;
	width: 100%;
	cursor: pointer;
	@apply --mx-borderColor(var(--mx-fg-ref));
	border-width: 0px;
	border-bottom-width: var(--m-lineWidth-sm);

	background: linear-gradient(to bottom, transparent 0%, var(--mx-bg-ref) 100%);

	&:focus {
		outline: none;
	}
	&:focus-visible {
		background: linear-gradient(
			to bottom,
			transparent 0%,
			var(--m-color-main-wash) 100%
		);
		border-color: var(--m-color-main);
	}

	&::after {
		content: '- tap to expand -';
		position: absolute;
		inset: 0;
		top: auto;
		height: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: end;
		padding: var(--m-space-sm);
		font-size: var(--m-prose-ambient-size);
		line-height: var(--m-prose-ambient-lineHeight);
		font-weight: var(--m-prose-ambient-weight);
		@apply --mx-fg(var(--m-color-neutral-heavy));
	}
	&[data-state='open'] {
		&::after {
			content: '- tap to collapse -';
		}
	}

	@starting-style {
		opacity: 0;
	}
	opacity: 1;
	transition: opacity var(--m-duration) var(--m-easing);
}
