.trigger {
	position: relative;
	justify-content: center;
	padding: var(--m-sp-xs);
	border-radius: var(--m-action-rd);
}

.popup {
	transition-property: all;
	transition-duration: var(--m-dur);
	transition-timing-function: var(--m-ease-loose);

	position: fixed;
	contain: content;

	@apply --mx-shadow(var(--m-shadow-md));
	@apply --mx-surface-ambient;
	padding: 0;

	clip-path: inset(-50px -50px -50px -50px);
	transform: translate(0px, 0px) scale(1);
	will-change: transform;

	bottom: anchor(bottom);
	&[data-align='center'] {
		justify-self: anchor-center;
	}
	&[data-align='start'] {
		justify-self: anchor-start;
	}
	&[data-align='end'] {
		justify-self: anchor-end;
	}

	&[data-starting-style],
	&[data-ending-style] {
		clip-path: inset(200px 200px 200px 200px);
		&[data-align='center'] {
			transform: translate(0px, 60px) scale(0.8);
		}
		&[data-align='start'] {
			transform: translate(-60px, 60px) scale(0.8);
		}
		&[data-align='end'] {
			transform: translate(60px, 60px) scale(0.8);
		}
	}

	&[data-ending-style] {
		opacity: 0;
	}
}
