.trigger {
	position: relative;
	justify-content: center;
	padding: var(--m-sp-xs);
	border-radius: var(--m-action-rd);
}

.popup {
	transition-property: all;
	transition-duration: var(--m-dur);
	transition-timing-function: var(--m-ease-loose);

	position: fixed;
	contain: layout;

	@apply --mx-shadow(var(--m-shadow-md));
	@apply --mx-surface-ambient;
	padding: 0;

	clip-path: inset(-50px -50px -50px -50px);

	bottom: anchor(bottom);
	&[data-align='center'] {
		justify-self: anchor-center;
	}
	&[data-align='start'] {
		justify-self: anchor-start;
	}
	&[data-align='end'] {
		justify-self: anchor-end;
	}

	&[data-starting-style],
	&[data-ending-style] {
		&[data-align='center'] {
			clip-path: inset(
				calc(100% - var(--trigger-height, 0px))
					calc((100% - var(--trigger-width, 0px)) / 2) 0
					calc((100% - var(--trigger-width, 0px)) / 2) round 200px
			);
		}
		&[data-align='start'] {
			clip-path: inset(
				calc(100% - var(--trigger-height, 0px))
					calc(100% - var(--trigger-width, 0px)) 0 0 round 200px
			);
		}
		&[data-align='end'] {
			clip-path: inset(
				calc(100% - var(--trigger-height, 0px)) 0 0
					calc(100% - var(--trigger-width, 0px)) round 200px
			);
		}
	}

	&[data-ending-style] {
		opacity: 0;
	}
}
