.dialogContent {
	display: flex;
	flex-direction: column;
	gap: var(--m-sp-xs);
}

.dialogTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--m-sp-md);
}

.appIcon {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: var(--m-rd);
}

.appDescription {
	margin-bottom: var(--m-sp-sm);
}
