.dialogContent {
	display: flex;
	flex-direction: column;
	gap: var(--m-space-xs);
}

.dialogTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--m-space-md);
}

.appIcon {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: var(--m-radius);
}

.appDescription {
	margin-bottom: var(--m-space-sm);
}
