.backdrop {
	position: fixed;
	inset: 0;
}

.empty:not(:empty) {
	@apply --mx-fg(var(--m-gray-heavy));
	padding: var(--m-sp-sm);
	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
	font-weight: var(--m-prose-ambient-weight);
}

.group {
	display: flex;
	flex-direction: column;
	overflow: clip;
	padding: var(--m-sp-md);
	gap: var(--m-sp-xs);
}

.groupItem {
	@apply --mx-ring;
	&[data-highlighted] {
		@apply --mx-ring(--fn-ring(var(--m-tint-mid), 2px));
	}
}

.groupItemList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--m-sp-xs);
}

.groupLabel {
	text-transform: uppercase;
	width: 100%;
	@apply --mx-fg(var(--m-gray-heavy));
	padding-inline: var(--m-sp-xs);
	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
	font-weight: var(--m-prose-ambient-weight);
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	transition: transform var(--m-dur) var(--m-ease);

	&[data-open] {
		transform: rotate(180deg);
	}
}

.chips {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--m-sp-xs);
	padding-inline-start: var(--m-sp-md);
}

.chipsList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--m-sp-xs);
	padding-inline: var(--m-sp-sm);
	margin-inline-start: calc(-1 * var(--m-sp-md));

	&:empty {
		display: none;
	}
}

.chipInput {
	min-width: 3ch;
	flex-grow: 1;
	padding-inline-start: 0px;
}

.chipInputWrapper {
	max-width: 100%;
	min-width: 12ch;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	gap: var(--m-sp-xs);
}

.chip {
	margin-block: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-inline: var(--m-sp-sm);
	gap: var(--m-sp-xs);
}

.chipRemove {
	min-height: 0;
	min-width: 0;
	padding: 0;
	line-height: 1;
	margin-block: calc(-1 * var(--m-sp-xs));
	margin-inline-end: calc(-1 * var(--m-sp-sm));
}

.item[data-selected] {
	@apply --mx-fg(var(--m-tint-ink));
	@apply --mx-bg-heavier(1);
}

.itemIndicator {
	margin-inline-start: auto;
	height: --fn-literal(10px);
	width: --fn-literal(10px);
	stroke-width: var(--m-lw-lg);
}

.list {
	display: flex;
	flex-direction: column;
	outline: none;
	overscroll-behavior: contain;
	overflow-y: auto;
	overflow-x: clip;

	&:empty {
		padding: 0;
	}
}

.popup {
	width: var(--anchor-width);
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	align-items: center;
	gap: var(--m-sp-xs);
}

.multiValue {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--m-sp-xs);
}

.clearAndCaret {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	margin-right: calc(-1 * var(--m-control-p-inline));
}

.details {
	@apply --mx-prose-ambient;
	@apply --mx-fg(var(--m-gray-heavy));
	padding: var(--m-sp-md);
}
