.root {
	user-select: none;
	appearance: none;
	cursor: pointer;
	transition: all 0.2s ease;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--m-spacing-sm);
	align-self: center;

	position: relative;
	overflow: visible;
	white-space: nowrap;

	font-size: var(--m-text-secondary-size);
	line-height: 1;
	font-family: inherit;
	font-weight: 500;

	@apply --mx-border(var(--mx-fg-ref));
	border-width: var(--m-lineWidth-md);
	border-radius: var(--m-action-radius);

	@apply --mx-shadow;
	--mx-shadow-shadow: var(--m-shadow-sm);

	padding: var(--m-action-padding);

	&[data-emphasis='primary'] {
		@apply --mx-bg(var(--m-action-primary-bg));
		@apply --mx-fg(var(--m-action-primary-fg));
		&:hover {
			@apply --mx-bg-lighten(1);
		}
		&:active {
			@apply --mx-bg-lighten(2);
		}
	}
	&[data-emphasis='light'] {
		/* A variant of primary color, but a bit lighter */
		@apply --mx-bg(var(--m-color-main-light));
		@apply --mx-fg(var(--m-color-main-ink));
	}
	&[data-emphasis='default'] {
		@apply --mx-bg(var(--m-action-secondary-bg));
		@apply --mx-fg(var(--m-action-secondary-fg));
	}
	&[data-emphasis='ghost'] {
		@apply --mx-border(var(--m-action-ambient-border));
		@apply --mx-bg(var(--m-action-ambient-bg));
		@apply --mx-fg(var(--m-action-ambient-fg));
		--mx-shadow-shadow: 0 0 0 0 transparent;

		font-weight: 600;

		&:hover,
		&:focus {
			--mx-bg-applied: inherit;
		}

		&[aria-pressed='true'] {
			@apply --mx-bg(var(--m-color-main-light));
		}
	}

	&[data-has-icon='true'][data-has-label='false']:not(
			[data-disable-icon-mode='true']
		):not([data-size='wrapper']) {
		padding: var(--m-spacing-md);

		&[data-size='small'] {
			padding: var(--m-spacing-sm);
		}

		&:not([aria-pressed='true']) {
			aspect-ratio: 1/1;
			align-items: center;
			justify-content: center;
		}
	}

	&[data-size='small'] {
		min-height: 28px;
	}
	&[data-size='wrapper'] {
		padding: 0;
		width: fit-content;
	}

	&:hover {
		@apply --mx-bg-darken(1);
		--mx-shadow-ring: --fn-ring(var(--mx-bg-ref), 4px);
	}
	&:active {
		@apply --mx-bg-darken(2);
		--mx-shadow-ring: --fn-ring(var(--mx-bg-ref), 6px);
	}
	&:focus {
		outline: none;
	}
	&:focus-visible {
		@apply --mx-bg-lighten(1);
		--mx-shadow-ring: --fn-ring(var(--m-color-main-ink), 2px);
	}
	&:disabled,
	&[data-disabled='true'] {
		cursor: default;
		box-shadow: none;
		@apply --mx-bg-desaturate(8);
		--mx-fg-ref: --fn-fade(var(--m-color-neutral-ink), 65%);
	}

	/* Always turn off background for toggleable buttons that aren't pressed */
	&[data-toggleable='true'][aria-pressed='false']:not(:hover) {
		@apply --mx-bg(transparent);
		--mx-bg-contrast: var(--m-global-trueLightColor);
	}
}

.unstyled {
	@apply --mx-bg(transparent);
	margin: 0;
	padding: 0;
	appearance: none;
	border: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&:focus-visible {
		box-shadow: 0 0 0 4px var(--m-color-main-ink);
	}
}

.icon {
	display: flex;
	flex-shrink: 0;
}

.toggleIndicator {
	width: 0;
	transition: width var(--m-duration) var(--m-easing);

	&[data-open='true'] {
		width: 15px;
	}
	&[data-open='false'] {
		margin-left: calc(-1 * var(--m-spacing-sm));
	}
}
