.root {
	user-select: none;
	appearance: none;
	cursor: pointer;
	transition: all var(--m-duration) var(--m-easing);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: var(--m-space-sm);
	align-self: center;

	position: relative;
	overflow: visible;
	white-space: nowrap;

	@apply --mx-action-secondary;

	@apply --mx-shadow(var(--m-shadow-sm));
	@apply --mx-ring;

	&[data-emphasis='primary'] {
		@apply --mx-action-primary;
	}
	&[data-emphasis='light'] {
		@apply --mx-action-light;
	}
	&[data-emphasis='default'] {
		@apply --mx-action-secondary;
	}
	&[data-emphasis='ghost'] {
		@apply --mx-action-ambient;
		--mx-ring-value: 0 0 0 0 transparent;
		--mx-shadow-value: 0 0 0 0 transparent;

		&:hover,
		&:focus {
			--mx-bg-applied: inherit;
			--mx-bg-ref: --fn-color-heavier(
				color-mix(var(--mx-bg-applied), var(--m-color-main-light) 20%),
				1
			);
		}
	}
	&[data-emphasis='ghost'],
	&[data-emphasis='default'] {
		&[aria-pressed='true'] {
			@apply --mx-bg(var(--m-color-main-light));
		}
	}

	&[data-has-icon='true'][data-has-label='false']:not(
			[data-disable-icon-mode='true']
		):not([data-size='wrapper']),
	&[data-force-icon-mode='true']:not([data-size='wrapper']) {
		padding: var(--m-space-md);

		&[data-size='small'] {
			padding: var(--m-space-sm);
		}

		&:not([aria-pressed='true']) {
			aspect-ratio: 1/1;
			align-items: center;
			justify-content: center;
		}
	}

	&[data-size='small'] {
		min-height: --fn-literal(28px);
	}
	&[data-size='wrapper'] {
		padding: 0;
		width: fit-content;
	}
	&[data-full='width'],
	&[data-full='both'] {
		width: 100%;
	}
	&[data-full='height'],
	&[data-full='both'] {
		height: 100%;
	}

	&[data-align='start'] {
		align-self: start;
	}
	&[data-align='center'] {
		align-self: center;
	}
	&[data-align='end'] {
		align-self: end;
	}

	@apply --mx-hover;
	@apply --mx-active;
	@apply --mx-focus;
	@apply --mx-disabled;

	/* Always turn off background for toggleable buttons that aren't pressed */
	&[data-toggleable='true'][aria-pressed='false']:not(:hover) {
		@apply --mx-bg(transparent);
		--mx-bg-contrast: var(--m-global-trueLightColor);
	}
}

.unstyled {
	@apply --mx-bg(transparent);
	margin: 0;
	padding: 0;
	appearance: none;
	border: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&:focus-visible {
		box-shadow: 0 0 0 4px var(--m-color-main-ink);
	}
}

.icon {
	display: flex;
	flex-shrink: 0;
}

.toggleIndicator {
	width: 0;
	transition: width var(--m-duration) var(--m-easing);

	&[data-open='true'] {
		width: --fn-literal(15px);
	}
	&[data-open='false'] {
		margin-left: calc(-1 * var(--m-space-sm));
	}
}

.defaultSpinner {
	margin-block: auto;
	display: flex;
	flex-shrink: 0;
	overflow: clip;

	[data-has-icon='true'] & {
		display: none;
	}
}
