.toaster {
	pointer-events: none;
	overflow: clip;
}

.toast {
	--gap: var(--m-space-sm);
	--peek: var(--m-space-sm);
	--scale: calc(max(0, 1 - var(--toast-index) * 0.1));
	--height: var(--toast-frontmost-height, var(--toast-height));
	--shrink: calc(1 - var(--scale));
	--offset-y: calc(
		var(--toast-offset-y) + calc(var(--toast-index) * var(--gap)) +
			var(--toast-swipe-movement-y)
	);

	/* basic positioning */
	position: fixed;
	left: auto;
	top: var(--m-space-xs);
	z-index: calc(100000 - var(--toast-index));
	margin-right: 0;
	width: 100%;
	transform-origin: top;
	/* all toasts copy height of frontmost */
	height: var(--height);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--m-space-xs);

	/* styling happens in content element */

	/* misc */
	pointer-events: none;
	user-select: none;

	/* animation and interaction */
	transform: translateX(var(--toast-swipe-movement-x))
		translateY(
			calc(var(--toast-swipe-movement-y) + var(--toast-index) * var(--peek)) +
				(var(--shrink) * var(--height))
		)
		scale(var(--scale));
	transition:
		transform var(--m-duration) var(--m-easing),
		opacity var(--m-duration) var(--m-easing),
		height var(--m-duration-short) var(--m-easing);

	&::after {
		position: absolute;
		content: '';
		left: 0;
		top: 100%;
		height: --fn-literal(calc(var(--gap) + 1px));
		width: 100%;
	}

	&[data-limited] {
		opacity: 0;
	}
	&[data-expanded] {
		height: var(--toast-height);
		transform: translateX(var(--toast-swipe-movement-x))
			translateY(var(--offset-y)) scale(1);
	}

	&[data-starting-style] {
		transform: translateY(-150%);
	}
	&[data-ending-style] {
		opacity: 0;

		&[data-swipe-direction='up'] {
			transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
		}
		&[data-swipe-direction='down'] {
			transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
		}
		&[data-swipe-direction='left'] {
			transform: translateX(calc(var(--toast-swipe-movement-x) - 150%))
				translateY(var(--offset-y));
		}
		&[data-swipe-direction='right'] {
			transform: translateX(calc(var(--toast-swipe-movement-x) + 150%))
				translateY(var(--offset-y));
		}
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		box-shadow: --fn-focus-ring();
	}
}

.toastContent {
	max-width: 400px;
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	gap: var(--m-space-sm);

	&[data-behind]:not([data-expanded]) {
		pointer-events: none;
	}
}

.toastMain {
	position: relative;
	display: flex;
	flex-direction: row;

	@apply --mx-shadow(var(--m-shadow-md));
	@apply --mx-surface-secondary;

	padding-inline-start: var(--m-space-md);
	padding-inline-end: var(--m-space-sm);
	padding-block: var(--m-space-sm);
	gap: var(--m-space-sm);

	[data-behind]:not([data-expanded]) & {
		max-height: var(--height);
		@apply --mx-bg-heavier(2);
	}
}

.toastMainBody {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--m-space-xs);
	@apply --mx-fg(inherit);

	transition: opacity var(--m-duration) var(--m-easing);

	/* Hide content when not in front */
	[data-behind]:not([data-expanded]) & {
		opacity: 0;
	}

	[data-expanded] & {
		opacity: 1;
	}
}

.toastMainBodyContent {
	display: flex;
	flex-direction: column;
	gap: var(--m-space-xs);
	@apply --mx-fg(inherit);
}

.toastTitle {
	@apply --mx-fg(inherit);
	@apply --mx-prose-secondary;
	font-weight: var(--m-text-weight-bold);
	margin: 0;
}

.toastDescriptionRow {
	display: flex;
	gap: var(--m-space-sm);
}

.icon {
	position: relative;
	top: --fn-literal(4px);
}

.toastDescription {
	margin: 0;
	@apply --mx-fg(inherit);
	@apply --mx-prose-ambient;
}

.toastClose {
	margin-block-end: auto;

	[data-behind]:not([data-expanded]) & {
		visibility: hidden;
	}
}

.toastActions {
	margin-inline-start: auto;
	display: flex;
	align-items: center;
	gap: var(--m-space-xs);

	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
	font-weight: var(--m-prose-ambient-weight);

	transition: opacity var(--m-duration) var(--m-easing);

	[data-behind]:not([data-expanded]) & {
		opacity: 0;
	}
}
