.input {
	font-family: inherit;
	overflow: clip;
	@apply --mx-fg(inherit);

	resize: vertical;
	min-height: 100%;
	&[data-auto-size='true'] {
		resize: none;
		height: auto;
	}
}

.border {
	padding-block-end: var(--m-sp-sm);
}
