.root {
	all: unset;
	position: relative;
	height: --fn-literal(20px);
	width: --fn-literal(42px);
	display: flex;
	flex-shrink: 0;
	cursor: pointer;
	appearance: none;
	padding: --fn-literal(3px);

	transition: all var(--m-dur) var(--m-ease);

	@apply --mx-shadow;
	--mx-shadow-value: inset var(--m-shadow-sm);

	@apply --mx-bg(var(--m-control-bg));
	@apply --mx-borderColor(var(--m-control-b-color));
	border-radius: var(--m-rd-lg);

	&[data-checked] {
		@apply --mx-bg(var(--m-tint));
	}

	@apply --mx-hover;
	@apply --mx-active;
	@apply --mx-focus;
	@apply --mx-disabled;
}

.thumb {
	display: block;
	aspect-ratio: 1/1;
	height: 100%;
	transition: transform var(--m-dur) var(--m-ease);
	will-change: transform;

	@apply --mx-shadow(var(--m-shadow-sm));

	@apply --mx-bg(var(--m-gray-paper));
	@apply --mx-borderColor(var(--m-control-b));
	border-radius: var(--m-rd-lg);

	position: relative;

	&[data-checked] {
		transform: translateX(22px);
	}

	&[data-checked]::before {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		content: '✓';
		color: var(--m-tint-ink);
		font-size: var(--m-prose-ambient-size);
	}
}
