@keyframes spinner-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes spinner-stroke {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 100, 200;
		stroke-dashoffset: -15;
	}
	100% {
		stroke-dasharray: 100, 200;
		stroke-dashoffset: -125;
	}
}

.root {
	display: inline-block;
	flex-shrink: 0;
	transform-origin: 50% 50%;
	animation: spinner-rotate 1400ms linear infinite;
	@apply --mx-fg(inherit);
	opacity: 50%;
}

.svg {
	display: block;
}

.circle {
	stroke: currentColor;
	stroke-dasharray: 80 200;
	stroke-dashoffset: 0;
	animation: spinner-stroke 1400ms ease-in-out infinite;
}

.fullScreen {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
	justify-content: center;
	gap: var(--m-spacing-md);
}
