.typography {
	@apply --mx-fg(inherit);
	font-size: var(--m-prose-secondary-size);
	line-height: var(--m-prose-secondary-lineHeight);
	font-weight: var(--m-prose-secondary-weight);

	&[data-emphasis='primary'] {
		font-size: var(--m-prose-primary-size);
		line-height: var(--m-prose-primary-lineHeight);
		font-weight: var(--m-prose-primary-weight);
	}

	&[data-emphasis='ambient'] {
		font-size: var(--m-prose-ambient-size);
		line-height: var(--m-prose-ambient-lineHeight);
		font-weight: var(--m-prose-ambient-weight);
	}

	&[data-italic] {
		font-style: italic;
	}
	&[data-underline] {
		text-decoration: underline;
	}
	&[data-strikethrough] {
		text-decoration: line-through;
	}
	&[data-bold] {
		font-weight: var(--m-text-weight-bold);
	}
	&[data-thin] {
		font-weight: var(--m-text-weight-thin);
	}
	&[data-truncate] {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
	}
}

@layer components {
	.removeMargin {
		margin-block: 0;
	}
}
