.trigger {
	display: inline-flex;
	font-weight: normal;
	gap: var(--m-sp-md);

	&[data-placeholder] {
		color: var(--m-gray-heavy);
	}
}

.value {
	display: flex;
	flex-direction: row;
}

.groupLabel {
	padding-inline: var(--m-sp-lg);
}

.icon {
	margin-left: auto;
	@apply --mx-fg(inherit);

	& > [data-icon] {
		position: relative;
		top: --fn-literal(1px);
		width: --fn-literal(12px);
		height: --fn-literal(12px);
	}
}

.positioner {
	user-select: none;
	transform-origin: var(--transform-origin);

	&:focus {
		outline: none;
	}
}

.popup {
	min-width: var(--anchor-width);
	&[data-side='none'] {
		min-width: calc(var(--anchor-width) + 2rem);
	}
}
