.ol,
.ul {
	list-style-position: inside;
	margin: 0;
	padding: 0;
	padding-inline-start: var(--m-sp-lg);
	display: flex;
	flex-direction: column;
	gap: var(--m-sp-sm);

	& > li {
		margin-left: var(--m-sp-sm);
	}

	&[data-unstyled] {
		list-style: none;
		gap: 0;
		padding-inline-start: 0;
		& > li {
			margin-left: 0;
		}
	}
}

.ol {
	list-style: decimal;
}

.ul {
	list-style: disc;
}
