.input {
	& input {
		font-size: inherit;
	}
}

.button {
	width: auto;
	display: inline-flex;
	align-items: center;
	text-align: start;
	font-size: inherit;
	cursor: pointer;

	@apply --mx-shadow;
	--mx-shadow-value: none;

	@apply --mx-fg(inherit);
	@apply --mx-bg(transparent);
	@apply --mx-borderColor(transparent);

	padding: var(--m-control-p);
	gap: var(--m-sp-sm);
	border-radius: var(--m-control-rd);

	&:hover,
	&:focus-visible {
		@apply --mx-bg(var(--m-gray-light));
		@apply --mx-bg-faded(80%);
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-ring-value: --fn-focus-ring();
	}
}

.icon {
	opacity: 80%;
	font-size: 1rem;
	@apply --mx-stroke(var(--m-tint-heavy));
}
