.root {
	max-width: 80vw;
	width: 100%;
	padding: var(--m-sp-md);
	@apply --mx-bg(var(--m-surface-ambient-bg));
	border-radius: var(--m-rd-lg);
	@apply --mx-borderColor(var(--m-surface-ambient-b-color));

	@media (min-width: 768px) {
		min-width: 0;
	}
}

.grid {
	display: grid;
	gap: var(--m-sp-md);
	align-items: start;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
