.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--m-sp-sm);

	padding: var(--m-sp-sm);

	position: fixed;
	position-anchor: --page-content;
	left: anchor(left);
	right: anchor(right);
	top: auto;
	--bottom: --fn-literal(
		calc(anchor(bottom) + env(safe-area-inset-bottom, 0px))
	);
	bottom: var(--bottom);

	@media (min-width: 768px) {
		bottom: var(--m-sp-md);
		align-items: center;
		transition: bottom var(--m-dur) var(--m-ease);
	}

	&[data-disable-portal='true'] {
		z-index: var(--z-now-playing);
	}

	&[data-keep-above-keyboard='true'] {
		@media (max-width: 767px) {
			top: auto;
			&[data-virtual-keyboard-behavior='overlay'] {
				bottom: max(
					var(--mock-virtual-keyboard-height, env(keyboard-inset-height, 0px)),
					var(--bottom)
				);
			}
			&[data-virtual-keyboard-behavior='displace'] {
				bottom: max(
					var(
						--mock-virtual-keyboard-height,
						var(--viewport-bottom-offset, 0px)
					),
					var(--bottom)
				);
			}
		}
	}
}
