.root {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	width: 100%;
	anchor-name: --page-content;
	flex: 1;

	gap: var(--m-sp-md);

	padding: var(--m-sp-md);
	@media (min-width: 768px) {
		padding: var(--m-sp-lg);
	}

	margin-inline: auto;
	max-width: 100%;
	min-width: 0;

	container-type: inline-size;
	container-name: --page-content;

	grid-area: content;
}
