.root {
	height: --fn-literal(368px);
	width: fit-content;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	gap: var(--m-sp-sm);
	@apply --mx-bg(var(--m-surface-ambient-bg));
}

.search {
	z-index: 10;
	min-width: --fn-literal(80px);
	width: 100%;
}

.viewport {
	min-height: 0;
	flex: 1;
	overflow: clip;
	@apply --mx-bg(var(--m-surface-ambient-bg));
	border-radius: var(--m-surface-rd);
}
.viewportInner {
	position: relative;
	outline: hidden;
}

.loading {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	@apply --mx-bg(inherit);
}

.empty {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	@apply --mx-bg(inherit);
	@apply --mx-fg(var(--m-gray-heavy));
	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
	font-weight: var(--m-prose-ambient-weight);
}

.categoryHeader {
	position: sticky;
	top: 0;
	@apply --mx-bg(inherit);
	@apply --mx-fg(var(--m-gray-heavy));
	padding: var(--m-sp-sm) var(--m-sp-md);
	font-weight: semibold;
	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
}

.row {
	scroll-margin-block: var(--m-sp-xs);
	padding-inline: var(--m-sp-xs);
}

.emoji {
	padding: var(--m-sp-xs);
	font-size: --fn-literal(20px);
}

.list {
	user-select: none;
	padding-block-end: var(--m-sp-md);
}

.skinToneButton {
	padding: var(--m-sp-xs);
	font-size: --fn-literal(20px);
}

.skinToneSelector {
	margin-right: auto;
}
