.root {
	position: relative;
	height: max-content;
	display: flex;
	flex-direction: column;
	overflow: clip;

	@apply --mx-shadow(var(--m-shadow-sm));
	@apply --mx-surface-ambient;
	@apply --mx-borderColor-faded(50%);
	border-width: var(--m-lineWidth-sm);
	border-radius: var(--m-surface-radius);

	font-size: var(--m-text-secondary-size);
	line-height: var(--m-text-secondary-lineHeight);
	font-weight: var(--m-text-secondary-weight);

	padding: 0;

	&[data-borderless='true'] {
		--mx-shadow-value: var(--m-shadow-md);
		border-width: 0;
	}
}

.main {
	position: relative;
	z-index: 1;
	min-height: --fn-literal(40px);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: start;
	gap: var(--m-spacing-xs);

	text-align: start;
	font-size: var(--m-text-ambient-size);
	line-height: var(--m-text-ambient-lineHeight);
	font-weight: var(--m-text-ambient-weight);

	padding: var(--m-spacing-md);
	padding-bottom: var(--m-spacing-xs);
	gap: var(--m-spacing-sm);
	&[data-compact='true'] {
		padding-bottom: 0;
	}

	transition: all var(--m-duration) var(--m-easing);

	@apply --mx-shadow;
	@apply --mx-bg(transparent);

	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border-width: 0;

	&[data-interactive] {
		cursor: pointer;

		&:hover,
		&:focus-visible,
		&[data-focus-visible] {
			@apply --mx-fg(var(--m-color-neutral-ink));
			@apply --mx-bg(--fn-color-faded(var(--m-color-neutral-ink), 10%));
		}

		&:focus {
			outline: none;
		}
		&:focus-visible,
		&[data-focus-visible] {
			@apply --mx-ring(inset 0 0 0 2px var(--m-color-neutral-ink));
		}

		&:disabled,
		&[data-disabled] {
			cursor: default;
		}
	}
}

.title {
	z-index: 1;
	padding: var(--m-spacing-xs) var(--m-spacing-md);

	font-size: var(--m-text-primary-size);
	line-height: var(--m-text-primary-lineHeight);
	font-weight: var(--m-text-primary-weight);

	[data-compact] & {
		font-size: var(--m-text-ambient-size);
	}

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: clip;
	max-width: 100%;
	display: block;
}

.content {
	z-index: 1;

	padding: var(--m-spacing-sm) var(--m-spacing-md);

	font-size: var(--m-text-ambient-size);
	line-height: 1;
	font-weight: var(--m-text-ambient-weight);

	[data-compact] & {
		padding: 0 var(--m-spacing-xs);
		margin: 0 var(--m-spacing-sm);
	}

	&[data-unstyled] {
		background-color: unset;
		padding: 0;
		border-width: 0;
	}
}

.image {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;

	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.footer {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: var(--m-spacing-md);
}

.actions {
	display: flex;
	flex-direction: row;
	gap: var(--m-spacing-sm);
	align-items: center;

	margin: auto auto auto --fn-literal(0px);
	padding: 0;

	@apply --mx-bg(--fn-color-faded(var(--m-surface-ambient-bg), 50%));
	/* @apply --mx-borderColor(var(--m-surface-ambient-borderColor));
	border-width: var(--m-lineWidth-sm); */
	border-radius: var(--m-action-radius);
}

.menu {
	margin: auto;
	margin-right: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	align-items: center;

	gap: var(--m-spacing-xs);

	@apply --mx-bg(--fn-color-faded(var(--m-surface-ambient-bg), 50%));
	@apply --mx-borderColor(var(--m-surface-ambient-borderColor));
	border-width: var(--m-lineWidth-sm);
	border-radius: var(--m-action-radius);
}
