.root {
	fill: none;
	flex-shrink: 0;

	--size: 1em;
	width: var(--size);
	height: var(--size);

	&[data-filled] {
		fill: var(--m-color-main);
	}
}

.spinner {
	display: inline-block;
	flex-shrink: 0;
	--size: 1em;
	width: var(--size);
	height: var(--size);
}
