.root {
	fill: none;
	flex-shrink: 0;

	--size: calc(round(16px / var(--m-global-space-density), 1px));
	width: var(--size);
	height: var(--size);
}

.spinner {
	display: inline-block;
	flex-shrink: 0;
}
