.root {
	width: min-content;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	overflow: clip;
	@apply --mx-shadow;
	--mx-shadow-value: var(--m-shadow-sm);

	@apply --mx-bg(var(--m-control-bg));
	@apply --mx-fg(var(--m-control-fg));
	@apply --mx-borderColor(var(--m-control-b-color));
	border-radius: var(--m-control-rd);

	&:disabled,
	&[data-disabled='true'] {
		--mx-shadow-value: 0 0 0 0 transparent;
		@apply --mx-bg(transparent);
		@apply --mx-borderColor-lighter(2);
		@apply --mx-fg-lighter(2);
	}

	&[data-emphasis='primary'] {
		@apply --mx-bg(var(--m-tint-wash));
		@apply --mx-fg(var(--m-tint-ink));
	}
}

.value {
	width: 80px;
	text-align: center;
}
