.root {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	height: auto;
	justify-items: center;
	overflow: clip;
	border-radius: 0;
	padding: var(--m-spacing-sm);
	z-index: 50;
	padding-bottom: calc(var(--m-spacing-sm) + env(safe-area-inset-bottom, 0px));

	@media (min-width: 768px) {
		height: min-content;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: start;
		gap: var(--m-spacing-sm);
		overflow-x: clip;
		overflow-y: auto;
		border-radius: 0;
		padding-bottom: var(--m-spacing-xl);
		box-shadow: none;
		@apply --mx-bg(transparent);
		border: none;
	}
}

.item {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	user-select: none;
	align-items: center;
	justify-content: center;
	gap: var(--m-spacing-sm);
	white-space: nowrap;
	padding: var(--m-action-padding);
	transition: all var(--m-duration) var(--m-easing);
	@apply --mx-fg(var(--m-color-neutral-ink));
	@apply --mx-bg(transparent);
	border-radius: var(--m-radius-sm);
	border: none;
	font-size: var(--m-text-ambient-size);
	line-height: 1;
	font-weight: var(--m-text-ambient-weight);
	@apply --mx-shadow;

	&:active {
		@apply --mx-bg-heavier(1);
	}

	&:hover {
		@apply --mx-bg(var(--m-action-light-bg));
		@apply --mx-bg-faded(50%);
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-ring-value: --fn-focus-ring();
	}

	&[data-active='true'] {
		@apply --mx-bg(var(--m-action-light-bg));
		@apply --mx-fg(var(--m-action-light-fg));
	}

	@media (min-width: 768px) {
		height: auto;
		display: flex;
		flex-direction: row-reverse;
		justify-content: end;
		gap: var(--m-spacing-md);
		padding: var(--m-action-padding);
		overflow: visible;
		font-size: var(--m-text-secondary-size);
		&:active {
			@apply --mx-bg-heavier(1);
		}
	}
}

.itemIconWrapper {
	position: relative;
	display: flex;

	@media (min-width: 768px) {
		@apply --mx-bg(var(--m-color-neutral-light));
		@apply --mx-bg-faded(50%);
		padding: var(--m-spacing-sm);
		border-radius: var(--m-action-radius);

		[data-active='true'] & {
			@apply --mx-bg(inherit);
		}
	}
}

.itemText {
	@apply --mx-fg(var(--m-color-neutral-ink));
	font-size: var(--m-text-ambient-size);
	line-height: 1;
	font-weight: inherit;
	display: inline-block;
	overflow: clip;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.icon {
	position: relative;
	z-index: 1;
	display: flex;
	@apply --mx-fg(inherit);

	[data-active='true'] & {
		@apply --mx-fill(var(--m-color-main));
	}
}

.pip {
	position: absolute;
	top: var(--m-spacing-sm);
	right: var(--m-spacing-sm);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var(--m-color-main);
	@apply --mx-shadow;
	--mx-shadow-value: var(--m-shadow-sm);
}
