.monthRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.monthLabel {
	min-width: 0;
	align-self: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	font-size: var(--m-text-ambient-size);
	font-weight: bold;
}

.monthButton {
	align-self: center;
}

.calendarGridRoot {
	display: grid;
	grid-template-columns: repeat(7, var(--day-size, 32px));
	grid-auto-rows: var(--day-size, 32px);
	overflow: hidden;
	padding: var(--m-spacing-sm);
	border-radius: var(--m-radius-sm);
}

.dayLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--m-text-ambient-size);
	@apply --mx-fg(var(--m-color-neutral-heavy));
}

.calendarDay {
	position: relative;
	margin-bottom: --fn-literal(-1px);
	margin-right: --fn-literal(-1px);

	@apply --mx-fg(var(--m-color-neutral-ink));
	@apply --mx-bg(var(--m-color-neutral-paper));
	@apply --mx-borderColor(transparent);

	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: all var(--m-duration) var(--m-easing);

	@apply --mx-shadow;
	--mx-shadow-value: var(--m-shadow-sm);

	&[data-highlighted] {
		z-index: 1;
		outline: none;
		--mx-ring-value: --fn-ring(var(--m-color-main-heavy), 2px);
	}

	&[data-selected] {
		z-index: 2;
		@apply --mx-bg(var(--m-color-main));
		border-radius: var(--m-radius-sm);
	}

	&[data-in-range] {
		z-index: 1;
		border-radius: 0;
		@apply --mx-bg(var(--m-color-main-light));
		--mx-shadow-value: 0 0 0 0 transparent;
	}

	&[data-disabled='true'] {
		cursor: not-allowed;
		opacity: 0.5;
	}

	/* Today indicator dot */
	&[data-today]::before {
		content: '';
		position: absolute;
		left: --fn-literal(1px);
		top: --fn-literal(1px);
		width: --fn-literal(6px);
		height: --fn-literal(6px);
		background-color: var(--m-color-palette-attention);
		border-radius: var(--m-radius-lg);
		border: 1px solid var(--m-color-neutral-ink);
	}

	/* Calendar grid edge borders */
	&[data-top-edge] {
		border-top-color: var(--m-color-neutral);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	&[data-bottom-edge] {
		border-bottom-color: var(--m-color-neutral);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	&[data-first-column] {
		border-left-color: var(--m-color-neutral);
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	&[data-last-column] {
		border-right-color: var(--m-color-neutral);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&[data-day-first] {
		border-left-color: var(--m-color-neutral);
		border-top-left-radius: var(--m-radius-sm);
	}
	&[data-day-last] {
		border-right-color: var(--m-color-neutral);
		border-bottom-right-radius: var(--m-radius-sm);
		border-top-right-radius: 0;
	}
	&[data-first-column][data-bottom-edge] {
		border-bottom-left-radius: var(--m-radius-sm);
	}
	&[data-last-column][data-bottom-edge] {
		border-bottom-right-radius: var(--m-radius-sm);
	}
	&[data-first-column][data-top-edge] {
		border-top-left-radius: var(--m-radius-sm);
	}
	&[data-last-column][data-top-edge] {
		border-top-right-radius: var(--m-radius-sm);
	}

	&[data-range-end] {
		z-index: 1;
		@apply --mx-bg(var(--m-color-main));
		border-radius: 0 var(--m-radius-sm) var(--m-radius-sm) 0;
		--mx-shadow-value: 0 0 0 0 transparent;
	}

	&[data-range-start] {
		z-index: 1;
		@apply --mx-bg(var(--m-color-main));
		/* tl tr br bl */
		border-radius: var(--m-radius-sm) 0 0 var(--m-radius-sm);
	}

	&[data-different-month] {
		visibility: hidden;
	}

	&:hover {
		z-index: 100;
		outline: none;
		--mx-ring-value: --fn-ring(var(--m-color-main-heavy), 2px);
	}

	&:active {
		@apply --mx-bg(var(--m-color-main-light));
		border-radius: var(--m-radius-sm);
	}
}
