.root {
	min-height: 32px;
	min-width: 32px;
}

.positioner {
	contain: strict;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	touch-action: none;
	user-select: none;
	overflow: clip;

	&:focus {
		outline: none;
	}
	&:focus-visible {
		@apply --mx-shadow;
		--mx-ring-value: --fn-ring(var(--m-color-main-ink), 1px);
	}
}

.controlContent {
	position: absolute;

	&[data-position='top-left'] {
		top: var(--m-space-sm);
		left: var(--m-space-sm);
	}
	&[data-position='top-right'] {
		top: var(--m-space-sm);
		right: var(--m-space-sm);
	}
	&[data-position='bottom-left'] {
		bottom: var(--m-space-sm);
		left: var(--m-space-sm);
	}
	&[data-position='bottom-right'] {
		bottom: var(--m-space-sm);
		right: var(--m-space-sm);
	}
}
