#storybook-root {
	height: 100%;
	isolation: isolate;
	display: flex;
	flex-direction: column;
}

body,
html {
	margin: 0;
	padding: 0;
}

.sb-main-fullscreen {
	height: 100dvh;
}

.sb-main-centered #storybook-root {
	height: auto;
	align-items: center;
	justify-content: center;
	min-height: 0;
}
