.root {
	display: inline-flex;
	align-items: center;
	gap: var(--m-space-xs);
	white-space: nowrap;

	@apply --mx-bg(var(--m-color-main-wash));
	@apply --mx-fg(contrast-color(var(--mx-bg-ref)));
	@apply --mx-borderColor(var(--m-color-main-heavy));

	border-width: var(--m-lineWidth-sm);
	border-radius: var(--m-action-radius);

	font-size: var(--m-prose-ambient-size);
	line-height: normal;
	font-weight: var(--m-prose-ambient-weight);
	font-family: var(--m-prose-ambient-font);

	&:not(:is(button)) {
		padding: var(--m-action-padding);
	}
}
