.bgWash {
	@apply --mx-bg(var(--m-tint-wash));
}
.bgLight {
	@apply --mx-bg(var(--m-tint-light));
}
.bgMid {
	@apply --mx-bg(var(--m-tint));
}
.bgHeavy {
	@apply --mx-bg(var(--m-tint-heavy));
}
.bgInk {
	@apply --mx-bg(var(--m-tint-ink));
}

.bgNeutralInk {
	@apply --mx-bg(var(--m-gray-ink));
}
.bgNeutralPaper {
	@apply --mx-bg(var(--m-gray-paper));
}
.bgNeutralWash {
	@apply --mx-bg(var(--m-gray-wash));
}

.rangeLabel {
	position: absolute;
	left: 0;
	top: 0;
	@apply --mx-fg(var(--m-gray));
	@apply --mx-bg(var(--m-gray-ink));
	@apply --mx-bg-faded(50%);
	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
	font-weight: var(--m-prose-ambient-weight);
	padding: var(--m-sp-xs);
	border-radius: var(--m-rd-sm);
}

.bgLighten1 {
	@apply --mx-bg-lighter(1);
}
.bgLighten2 {
	@apply --mx-bg-lighter(2);
}
.bgDarken1 {
	@apply --mx-bg-heavier(1);
}
.bgDarken2 {
	@apply --mx-bg-heavier(2);
}

.bgBetweenMidLight {
	@apply --mx-bg(--fn-color-between(var(--m-tint), var(--m-tint-light)));
}
.bgBetweenMidHeavy {
	@apply --mx-bg(--fn-color-between(var(--m-tint), var(--m-tint-heavy)));
}
