.bgWash {
	@apply --mx-bg(var(--m-color-main-wash));
}
.bgLight {
	@apply --mx-bg(var(--m-color-main-light));
}
.bgMid {
	@apply --mx-bg(var(--m-color-main));
}
.bgHeavy {
	@apply --mx-bg(var(--m-color-main-heavy));
}
.bgInk {
	@apply --mx-bg(var(--m-color-main-ink));
}

.bgNeutralInk {
	@apply --mx-bg(var(--m-color-neutral-ink));
}
.bgNeutralPaper {
	@apply --mx-bg(var(--m-color-neutral-paper));
}
.bgNeutralWash {
	@apply --mx-bg(var(--m-color-neutral-wash));
}

.rangeLabel {
	position: absolute;
	left: 0;
	top: 0;
	@apply --mx-fg(var(--m-color-neutral));
	@apply --mx-bg(var(--m-color-neutral-ink));
	@apply --mx-bg-faded(50%);
	font-size: var(--m-text-ambient-size);
	line-height: var(--m-text-ambient-lineHeight);
	font-weight: var(--m-text-ambient-weight);
	padding: var(--m-spacing-xs);
	border-radius: var(--m-radius-sm);
}

.bgLighten1 {
	@apply --mx-bg-lighter(1);
}
.bgLighten2 {
	@apply --mx-bg-lighter(2);
}
.bgDarken1 {
	@apply --mx-bg-heavier(1);
}
.bgDarken2 {
	@apply --mx-bg-heavier(2);
}

.bgBetweenMidLight {
	@apply --mx-bg(--fn-color-between(var(--m-color-main), var(--m-color-main-light)));
}
.bgBetweenMidHeavy {
	@apply --mx-bg(--fn-color-between(var(--m-color-main), var(--m-color-main-heavy)));
}
