.root {
	@apply --mx-prose-secondary;
	width: 100%;

	& .ProseMirror {
		box-shadow: inset var(--m-shadow-sm);
		@apply --mx-control;
		@apply --mx-focus;
	}

	& h1,
	& h2,
	& h3,
	& p {
		margin-top: 0;
	}

	& h1 {
		@apply --mx-prose-primary;
		&:not(:first-child) {
			margin-top: var(--m-space-xl);
		}
	}
	& h2 {
		@apply --mx-prose-secondary;
		font-weight: var(--m-prose-primary-weight);
		&:not(:first-child) {
			margin-top: var(--m-space-lg);
		}
	}
	& h3 {
		@apply --mx-prose-ambient;
		font-weight: var(--m-prose-primary-weight);
		text-transform: uppercase;
		&:not(:first-child) {
			margin-top: var(--m-space-md);
		}
	}
	& h4 {
		@apply --mx-prose-ambient;
		font-weight: var(--m-prose-primary-weight);
		&:not(:first-child) {
			margin-top: var(--m-space-md);
		}
	}
	& p {
		@apply --mx-prose-secondary;
		margin-bottom: var(--m-space-md);
	}
	& a {
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
		}
		@apply --mx-focus;
	}
	& blockquote {
		border-left: 4px solid var(--m-color-neutral-heavy);
		padding-left: var(--m-space-md);
		font-style: italic;
		margin-block: var(--m-space-md);
		margin-inline-start: var(--m-space-md);
		padding-inline: var(--m-space-md);
		@apply --mx-bg(var(--m-color-neutral-wash));
	}
	& ul {
		list-style: disc;
	}
	& ol {
		list-style: decimal;
	}
	& ul,
	& ol {
		padding-inline-start: var(--m-space-lg);
		margin-block: var(--m-space-md);
	}
	& li {
		margin-block-end: var(--m-space-xs);
	}
	& mark {
		@apply --mx-bg(var(--m-color-main-wash));
	}
	& strong {
		font-weight: var(--m-text-weight-bold);
	}
	& em {
		font-style: italic;
	}
	& hr {
		border: none;
		border-top: var(--m-lineWidth) solid var(--m-color-neutral-heavy);
		margin-block: var(--m-space-lg);
	}
}

.readonly {
	& .ProseMirror {
		@apply --mx-bg(transparent);
		box-shadow: none;
		border-width: 0;
	}
}
