.popup {
	min-width: 120px;
	max-width: var(--available-width, 95vw);
	max-height: var(--available-height);

	transition: all var(--m-duration) var(--m-easing);

	@apply --mx-shadow;
	--mx-shadow-shadow: var(--m-shadow-lg);

	@apply --mx-bg(var(--m-surface-ambient-color-bg));
	@apply --mx-fg(var(--m-surface-ambient-color-fg));
	@apply --mx-border(var(--m-surface-ambient-color-border));

	border-radius: var(--m-radius);
	border-width: var(--m-lineWidth);
	border-style: solid;

	transform-origin: var(--transform-origin);
	will-change: transform;

	@apply --mx-shadow;

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-shadow-ring: --fn-ring(--fn-fade(var(--m-color-main-ink), 50%), 2px);
	}

	@media (forced-colors: active) {
		border-color: var(--m-color-main-ink);
	}
	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	--y: 0px;
	--x: 0px;
	transform: translate(var(--x), var(--y));

	&[data-starting-style] {
		opacity: 0;
		&[data-side='bottom'] {
			--y: 4px;
		}
		&[data-side='top'] {
			--y: -4px;
		}
		&[data-side='left'] {
			--x: -4px;
		}
		&[data-side='right'] {
			--x: 4px;
		}
	}
	&[data-ending-style] {
		opacity: 0;
	}
}

.itemList {
	max-height: 100%;
	min-height: 0px;
	overflow-x: clip;
	overflow-y: auto;

	border-radius: inherit;
}

.item {
	min-height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;

	padding: var(--m-action-padding);
	padding-left: var(--m-spacing-lg);

	text-align: left;
	font-size: var(--m-text-secondary-size);
	font-weight: var(--m-text-secondary-weight);
	line-height: var(--m-text-secondary-lineHeight);
	font-family: var(--m-text-secondary-font);

	@apply --mx-fg(color-contrast(var(--mx-bg-ref)));

	&[data-disabled],
	&:disabled {
		pointer-events: none;
		@apply --mx-fg-lighten(2);
		@apply --mx-bg(var(--m-color-neutral-paper));
	}

	&:hover,
	&[data-highlighted],
	&:focus-visible {
		@apply --mx-bg(var(--m-color-main-light));
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-shadow-ring: --fn-ring(var(--m-color-main-ink), 2px);
	}
}

.arrow {
	@apply --mx-fill(var(--mx-bg-ref, var(--_-system-scheme-true-light)));
	@apply --mx-stroke(var(--mx-border-ref, var(--_-system-scheme-true-heavy)));
	width: 24px;
	height: 12px;
	position: relative;
	z-index: 0;

	transform: translate(0, 0) rotate(var(--angle, 0deg)) scale(var(--scale, 1));
	&[data-closed] {
		opacity: 0;
		--scale: 0;
	}
	&[data-open] {
		opacity: 1;
		--scale: 1;
	}

	&[data-side='top'] {
		bottom: calc(-1 * 24px / 2 + 1px);
	}
	&[data-side='bottom'] {
		top: calc(-1 * 24px / 2);
		--angle: 180deg;
	}
	&[data-side='left'] {
		right: calc(-1 * 24px * 3 / 4);
		--angle: -90deg;
	}
	&[data-side='right'] {
		left: calc(-1 * 24px * 3 / 4);
		--angle: 90deg;
	}
}

.separator {
	margin: var(--m-spacing-xs);
	height: var(--m-lineWidth-sm);
	@apply --mx-bg(var(--m-color-neutral));
}
