.popup {
	min-width: 120px;
	max-width: var(--available-width, 95vw);
	max-height: var(--available-height);

	transition: all var(--m-duration) var(--m-easing);

	@apply --mx-shadow;
	--mx-shadow-shadow: var(--m-shadow-lg);

	@apply --mx-bg(var(--m-surface-ambient-bg));
	@apply --mx-fg(var(--m-surface-ambient-fg));
	@apply --mx-border(var(--m-surface-ambient-border));

	border-radius: var(--m-surface-radius);
	border-width: var(--m-lineWidth);
	border-style: solid;

	padding: var(--m-spacing-xs);

	transform-origin: var(--transform-origin);
	will-change: transform;

	@apply --mx-shadow;

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-shadow-ring: --fn-ring(--fn-fade(var(--m-color-main-ink), 50%), 2px);
	}

	@media (forced-colors: active) {
		border-color: var(--m-color-main-ink);
	}
	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	--y: 0px;
	--x: 0px;
	transform: translate(var(--x), var(--y));

	&[data-starting-style] {
		opacity: 0;
		&[data-side='bottom'] {
			--y: 4px;
		}
		&[data-side='top'] {
			--y: -4px;
		}
		&[data-side='left'] {
			--x: -4px;
		}
		&[data-side='right'] {
			--x: 4px;
		}
	}
	&[data-ending-style] {
		opacity: 0;
	}
}

.itemList {
	max-height: 100%;
	min-height: 0px;
	overflow-x: clip;
	overflow-y: auto;

	border-radius: inherit;
}

.item {
	min-height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;

	padding: var(--m-action-padding);
	padding-left: var(--m-spacing-lg);

	text-align: left;
	font-size: var(--m-text-secondary-size);
	font-weight: var(--m-text-secondary-weight);
	line-height: var(--m-text-secondary-lineHeight);
	font-family: var(--m-text-secondary-font);

	@apply --mx-fg(color-contrast(var(--mx-bg-ref)));

	&[data-disabled],
	&:disabled {
		pointer-events: none;
		@apply --mx-fg-lighten(2);
		@apply --mx-bg(var(--m-color-neutral-paper));
	}

	&:hover,
	&[data-highlighted],
	&:focus-visible {
		@apply --mx-bg(var(--m-color-neutral-light));
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-shadow-ring: --fn-ring(var(--m-color-main-ink), 2px);
	}

	border-radius: var(--m-radius-xs);
	&:first-child {
		border-top-left-radius: calc(var(--m-surface-radius) - var(--m-spacing-xs));
		border-top-right-radius: calc(
			var(--m-surface-radius) - var(--m-spacing-xs)
		);
	}
	&:last-child {
		border-bottom-left-radius: calc(
			var(--m-surface-radius) - var(--m-spacing-xs)
		);
		border-bottom-right-radius: calc(
			var(--m-surface-radius) - var(--m-spacing-xs)
		);
	}
}

.arrow {
	@apply --mx-arrow;
}

.separator {
	margin: var(--m-spacing-xs);
	height: var(--m-lineWidth-sm);
	@apply --mx-bg(var(--m-color-neutral));
}
