.popup {
	box-sizing: border-box;

	min-width: 120px;
	max-width: var(--available-width, 95vw);
	max-height: var(--available-height);

	transition: all var(--m-duration) var(--m-easing);

	@apply --mx-shadow;
	--mx-shadow-shadow: var(--m-shadow-lg);

	@apply --mx-bg(var(--m-surface-ambient-bg));
	@apply --mx-fg(var(--m-surface-ambient-fg));
	@apply --mx-border(var(--m-surface-ambient-border));

	border-radius: var(--m-surface-radius);
	border-width: var(--m-lineWidth);
	border-style: solid;

	transform-origin: var(--transform-origin);
	will-change: transform;

	@apply --mx-shadow;

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-shadow-ring: --fn-ring(--fn-fade(var(--m-color-main-ink), 50%), 2px);
	}

	@media (forced-colors: active) {
		border-color: var(--m-color-main-ink);
	}
	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	--y: 0px;
	--x: 0px;
	transform: translate(var(--x), var(--y));

	&[data-starting-style] {
		opacity: 0;
		&[data-side='bottom'] {
			--y: 4px;
		}
		&[data-side='top'] {
			--y: -4px;
		}
		&[data-side='left'] {
			--x: -4px;
		}
		&[data-side='right'] {
			--x: 4px;
		}
	}
	&[data-ending-style] {
		opacity: 0;
	}
}

.itemList {
	box-sizing: border-box;
	max-height: min(var(--available-height, 100%), 95vh);
	min-height: 0px;
	overflow-x: clip;
	overflow-y: auto;
	scroll-padding-block: var(--m-spacing-md);
	position: relative;
	padding: var(--m-spacing-xs);

	border-radius: inherit;
}

.item {
	min-height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;

	padding: var(--m-action-padding);
	padding-left: var(--m-spacing-lg);
	gap: var(--m-spacing-sm);

	text-align: left;
	font-size: var(--m-text-secondary-size);
	font-weight: var(--m-text-secondary-weight);
	line-height: var(--m-text-secondary-lineHeight);
	font-family: var(--m-text-secondary-font);

	@apply --mx-fg(color-contrast(var(--mx-bg-ref)));

	&[data-disabled],
	&:disabled {
		pointer-events: none;
		@apply --mx-fg(var(--m-color-neutral-heavy));
		@apply --mx-bg(var(--m-color-neutral-paper));
	}

	&:hover,
	&[data-highlighted],
	&[data-state='checked'],
	&:focus-visible {
		@apply --mx-bg(var(--m-color-neutral-light));
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		--mx-shadow-ring: --fn-focus-ring();
	}

	border-radius: var(--m-radius-xs);
	&:first-child {
		border-top-left-radius: calc(var(--m-surface-radius) - var(--m-spacing-xs));
		border-top-right-radius: calc(
			var(--m-surface-radius) - var(--m-spacing-xs)
		);
	}
	&:last-child {
		border-bottom-left-radius: calc(
			var(--m-surface-radius) - var(--m-spacing-xs)
		);
		border-bottom-right-radius: calc(
			var(--m-surface-radius) - var(--m-spacing-xs)
		);
	}
}

.itemText {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--m-spacing-sm);
	scroll-padding-block: var(--m-spacing-md);
}

.itemIndicator {
	margin-inline-start: auto;
	height: 10px;
	flex-shrink: 0;
	flex-basis: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	right: calc(-1 * var(--m-spacing-xs));
}

.itemRightSlot {
	margin-inline-start: auto;
	padding-inline-start: var(--m-spacing-sm);
}

.arrow {
	--size: 18px;
	@apply --mx-fill(var(--mx-bg-ref, var(--m-global-trueLightColor)));
	@apply --mx-stroke(var(--mx-border-ref, var(--mx-fg-ref, var(--m-global-trueHeavyColor))));
	stroke-width: var(--m-lineWidth);
	width: var(--size);
	height: calc(var(--size) / 2);
	position: relative;
	--angle: 0deg;
	--scale: 1;
	transform: translate(0, 0) rotate(var(--angle, 0deg)) scale(var(--scale, 1));
	transition: opacity var(--m-duration) var(--m-easing);

	&[data-side='top'] {
		--angle: 0deg;
		bottom: calc(-1 * var(--size) / 2 + 1px);
	}
	&[data-side='bottom'] {
		--angle: 180deg;
		top: calc(-1 * var(--size) / 2 + 1px);
	}
	&[data-side='left'] {
		--angle: 270deg;
		right: calc(-1 * var(--size) * 0.75);
	}
	&[data-side='right'] {
		--angle: 90deg;
		left: calc(-1 * var(--size) * 0.75);
	}

	&[data-open] {
		opacity: 1;
		--scale: 1;
	}
	&[data-closed] {
		opacity: 0;
		--scale: 0.5;
	}
}

.separator {
	margin: var(--m-spacing-xs);
	height: var(--m-lineWidth-sm);
	@apply --mx-bg(var(--m-color-neutral));
}

.groupLabel {
	user-select: none;
	@apply --mx-fg(var(--m-color-neutral-heavy));
	font-size: var(--m-text-ambient-size);
	line-height: var(--m-text-ambient-lineHeight);
	font-weight: var(--m-text-ambient-weight);
}

.scrollArrow {
	box-sizing: border-box;
	z-index: 1;
	height: 1rem;
	left: var(--m-spacing-md);
	right: var(--m-spacing-md);
	cursor: default;
	user-select: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	@apply --mx-bg(var(--m-surface-ambient-bg));
	@apply --mx-fg(var(--m-surface-ambient-fg));
	border-radius: inherit;
	font-size: var(--m-text-ambient-size);
	line-height: var(--m-text-ambient-lineHeight);
	font-weight: var(--m-text-ambient-weight);

	&::before {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		content: '';
	}

	&[data-direction='up'] {
		top: 0;
		&[data-side='none'] {
			&::before {
				top: -100%;
			}
		}
	}
	&[data-direction='down'] {
		bottom: 0;
		&[data-side='none'] {
			&::before {
				bottom: -100%;
			}
		}
	}
}

.trigger {
	user-select: none;
}

.triggerIcon {
	transition: transform var(--m-duration) var(--m-easing);
	margin-inline-start: auto;
	[data-open] > &,
	[data-popup-open] > & {
		transform: rotate(180deg);
	}
}
