.root {
	position: relative;
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	overflow: clip;
	transition: height var(--m-duration) var(--m-easing);

	&:empty {
		height: 0;
	}
}

.scrollArea {
	height: 100%;
	width: 100%;
	flex: 1;
}

.scrollAreaContent {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	&[data-wrap='true'] {
		flex-wrap: wrap;
	}
}
