.root {
	width: fit-content;
	display: inline-flex;
	gap: var(--m-sp-sm);
	border-radius: var(--m-rd-lg);

	@apply --mx-bg(--fn-color-faded(var(--m-tint-light), 20%));
}

.item {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	transition: all var(--m-dur) var(--m-ease);

	@apply --mx-fg(var(--m-gray-ink));

	padding: var(--m-action-p);

	@apply --mx-borderColor(transparent);
	border-radius: var(--m-rd-lg);

	&[data-pressed] {
		@apply --mx-shadow;
		--mx-shadow-value: var(--m-shadow-sm);
		@apply --mx-bg(var(--m-tint));
		@apply --mx-borderColor(var(--m-gray-ink));
	}

	&:not([data-pressed]) {
		@apply --mx-bg(--fn-color-faded(var(--m-gray), 30%));
	}

	&:hover:not([data-pressed]) {
		@apply --mx-bg-lighter(2);
		--mx-ring-value: --fn-ring(var(--mx-bg-ref), 2px);
		@apply --mx-borderColor(--fn-color-faded(var(--m-tint-ink), 20%));
	}

	&:active:not([data-pressed]) {
		@apply --mx-bg-lighter(1);
		--mx-ring-value: --fn-ring(var(--mx-bg-ref), 4px);
		@apply --mx-borderColor(--fn-color-faded(var(--m-tint-ink), 30%));
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		--mx-ring-value: --fn-focus-ring();
	}
}
