.root {
	width: 100%;
	box-sizing: border-box;
	&[data-orientation='vertical'] {
		width: max-content;
		height: 100%;
	}
}

.control {
	position: relative;
	height: 30px;
	width: 100%;
	display: flex;
	user-select: none;
	align-items: center;
	touch-action: none;
	box-sizing: border-box;

	&[data-orientation='vertical'] {
		height: 100%;
		width: 30px;
		flex-direction: column;
	}
}

.track {
	--size: 8px;
	position: relative;
	height: var(--size);
	flex-grow: 1;
	user-select: none;
	transition: background-color var(--m-dur) var(--m-ease);
	box-sizing: border-box;

	@apply --mx-bg(transparent);
	border-radius: var(--m-rd-lg);
	@apply --mx-ring(--fn-ring(var(--m-gray-ink), 1px));

	&[data-orientation='vertical'] {
		height: 100%;
		width: var(--size);
		flex: 1;
	}
}

.range {
	box-sizing: border-box;
	transition: background-color var(--m-dur) var(--m-ease);
	@apply --mx-bg(var(--m-tint));
	border-radius: var(--m-rd-lg);
}

.thumb {
	--thumb-size: 20px;

	height: var(--thumb-size);
	width: var(--thumb-size);
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	line-height: 1;
	touch-action: none;
	transition:
		background-color var(--m-dur) var(--m-ease),
		box-shadow var(--m-dur) var(--m-ease);

	@apply --mx-shadow;
	--mx-shadow-value: var(--m-shadow-sm);

	@apply --mx-borderColor(var(--m-gray-ink));
	border-width: var(--m-lw-md);

	@apply --mx-bg(var(--m-control-bg));
	border-radius: var(--m-control-rd);

	&:hover {
		--mx-shadow-value: var(--m-shadow-md);
	}

	&:active {
		@apply --mx-bg(var(--m-tint-light));
		--mx-shadow-value: var(--m-shadow-lg);
		--mx-ring-value: --fn-ring(var(--mx-bg-ref), 4px);
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		@apply --mx-bg(var(--m-tint-light));
		--mx-shadow-value: var(--m-shadow-lg);
		--mx-ring-value: --fn-focus-ring();
	}

	&:disabled {
		opacity: 0.5;
	}
}
