.root {
	width: 100%;
	box-sizing: border-box;
}

.control {
	position: relative;
	height: 30px;
	width: 100%;
	display: flex;
	user-select: none;
	align-items: center;
	touch-action: none;
	box-sizing: border-box;

	&[data-orientation='vertical'] {
		height: 100%;
		width: 30px;
		flex-direction: column;
	}
}

.track {
	--size: 8px;
	position: relative;
	height: var(--size);
	flex-grow: 1;
	user-select: none;
	transition: background-color var(--m-duration) var(--m-easing);
	box-sizing: border-box;

	@apply --mx-bg(transparent);
	@apply --mx-border(var(--m-color-neutral-ink));
	border-width: var(--m-lineWidth-sm);
	border-radius: var(--m-radius-lg);

	&[data-orientation='vertical'] {
		height: 100%;
		width: var(--size);
		flex: 1;
	}
}

.range {
	box-sizing: border-box;
	transition: background-color var(--m-duration) var(--m-easing);
	@apply --mx-bg(var(--m-color-main));
	border-radius: var(--m-radius-lg);
	height: 100%;
}

.thumb {
	--thumb-size: 20px;

	height: var(--thumb-size);
	width: var(--thumb-size);
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	line-height: 1;
	touch-action: none;
	transition:
		background-color var(--m-duration) var(--m-easing),
		box-shadow var(--m-duration) var(--m-easing);

	@apply --mx-shadow;
	--mx-shadow-shadow: var(--m-shadow-sm);

	@apply --mx-border(var(--m-color-neutral-ink));
	border-width: var(--m-lineWidth-lg);

	@apply --mx-bg(var(--m-control-bg));
	border-radius: var(--m-control-radius);

	&:hover {
		--mx-shadow-shadow: var(--m-shadow-md);
	}

	&:active {
		@apply --mx-bg(var(--m-color-main-light));
		--mx-shadow-shadow: var(--m-shadow-lg);
		--mx-shadow-ring: --fn-ring(var(--mx-bg-ref), 4px);
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		@apply --mx-bg(var(--m-color-main-light));
		--mx-shadow-shadow: var(--m-shadow-lg);
		--mx-shadow-ring: --fn-focus-ring();
	}

	&:disabled {
		opacity: 0.5;
	}
}
