name: Prerelease

on:
  push:
    tags:
      - "v*-beta.*"
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Update npm to the latest version to enable OIDC
      # Use corepack to install pnpm
      - name: Setup Package Managers
        run: |
          npm install -g npm@latest
          npm --version
          npm install -g pnpm@latest

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Publish Prerelease
        run: pnpm publish --access public --tag beta --no-git-checks
