name: CI - Build
on:
  push:
    branches:
      - main
      - baseui
  pull_request:
    branches:
      - main
      - baseui

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          run_install: true
          version: 10.4.0

      - name: Build
        run: pnpm run build
