.fieldLabel {
	display: inline-flex;
	flex-direction: column;
	@apply --mx-fg(var(--m-color-neutral-ink));
	margin-inline-start: var(--m-space-md);
	gap: var(--m-space-xs);
	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
	font-weight: bold;
}

.horizontalFieldLabel {
	display: inline-flex;
	flex-direction: row;
	@apply --mx-fg(var(--m-color-neutral-ink));
	gap: var(--m-space-sm);
	font-size: var(--m-prose-ambient-size);
	line-height: var(--m-prose-ambient-lineHeight);
	margin-block-start: var(--m-space-sm);
}
