.fieldLabel {
	display: inline-flex;
	flex-direction: column;
	@apply --mx-fg(var(--m-color-neutral-ink));
	margin-inline-start: var(--m-spacing-md);
	gap: var(--m-spacing-xs);
	font-size: var(--m-text-ambient-size);
	line-height: var(--m-text-ambient-lineHeight);
	font-weight: bold;
}

.horizontalFieldLabel {
	display: inline-flex;
	flex-direction: row;
	@apply --mx-fg(var(--m-color-neutral-ink));
	gap: var(--m-spacing-sm);
	font-size: var(--m-text-ambient-size);
	line-height: var(--m-text-ambient-lineHeight);
	margin-block-start: var(--m-spacing-sm);
}
